*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  Impact;
}
body{
    background-color: black;
    position: relative;
}

/*Banner*/
nav+section{
    width: 100%;
    display: flex;
}

section img{
    width: 100%;
}


article{
    padding: 1em 2em;
    display: flex;
    align-items: center;
}
article img{
    width: 60%;
    height: auto;
}
article div{
    color: white;
    font-size: clamp(1.25rem , 5vw , 3rem);
}

article+div{
    background-color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.5rem , 6vw , 4rem);
    padding: 2em 2em;
    font-weight: bold;
}




main{
    width: 100%;
    max-height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 1em;
  }
  .slides{
    width: 500%;
    display: flex;
  }
  .slides input{
    display: none;
  }
  .slide{
    width: 20%;
    transition: 2s;
  }
  .slide img{
    width: 100%;
  }
  /*css for manual slide navigation*/
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  .navigation{
    position: absolute;
    width: 100%;
    margin-top: 460px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid hsl(0, 59%, 20%);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: hsl(0, 59%, 20%);
  }

  #radio1:checked + .navigation .manual-btn{
    background-color: hsl(0, 59%, 20%);
  }












main + section{
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 25vh;
}
section video{
    position: absolute;
    width: 100%;
    z-index: -1;
}
.vsc-controller{
    display: none;
}

section .btn{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.btn1, .btn2{
    position: relative;
    display: block;
    width: 30%;
    color: hsl(0, 59%, 20%);
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-family: "montserrat";
    text-decoration: none;
    border: 3px solid hsl(0, 59%, 20%);
    padding: 1em;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    z-index: 6;
}
.btn1::before, .btn2::before{
    background: hsl(30, 100%, 48%);
    opacity: 0.55;
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    transition: all 1s ease;
  }
  .btn1:before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
  }
  .btn1:hover:before, .btn2:hover::before{
    height: 600%;
    cursor: pointer;
  }

  .btn2::before{
    width: 100%;
    height: 0;
    transform: translate(-50%,-50%) rotate(135deg);
  }






@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media only screen and (max-width: 720px){
    .circle{
        padding: 0.45em;
    }
    section .btn{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        }
    .btn1, .btn2{
        width: 50%;
        padding: .5em;
    }
    main + section{
        height: 45vh;
    }
    .navigation{
      margin-top: 50%;
    }

}

